@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <section>
        <img src="image1.jpg" alt="Image 1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum nunc sed nulla iaculis, nec faucibus dolor malesuada.</p>
        <button>Button 1</button>
    </section>
    <section>
        <img src="image2.jpg" alt="Image 2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum nunc sed nulla iaculis, nec faucibus dolor malesuada.</p>
        <button>Button 2</button>
    </section>
    <section>
        <img src="image3.jpg" alt="Image 3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum nunc sed nulla iaculis, nec faucibus dolor malesuada.</p>
        <button>Button 3</button>
    </section>
    <section>
        <img src="image4.jpg" alt="Image 4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum nunc sed nulla iaculis, nec faucibus dolor malesuada.</p>
        <button>Button 4</button>
    </section>
    <section>
        <img src="image5.jpg" alt="Image 5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum nunc sed nulla iaculis, nec faucibus dolor malesuada.</p>
        <button>Button 5</button>
    </section>
</div>
