@page
@model IndexModel

@{
    ViewData["Title"] = "Recipes";
}

<div class="container">
    @{
        var recipes = ViewData["ShowData"] as List<MyFodie.Models.Recipe>;
    }

    <ul>
        @foreach (var recipe in recipes)
        {
            <h3>@recipe.Name</h3>
            <p>@recipe.Description</p>
            <p class="secondtitle">Category:</p>
            <p>@recipe.Category</p>
            <p class="secondtitle">Ingredient:</p>
            <p>@recipe.Ingredient</p>
        }
    </ul>
</div>
